/*预载信息*/
.NIE-quickReg-loading{font-size:14px;font-weight:bold;}
/*快速注册*/
.NIE-quickReg{font-family:simSun,Arial;font-size:12px;line-height:170%;color:#000;display:none;}
.NIE-quickReg table{border-collapse:collapse;}
.NIE-quickReg table td{padding:1px;vertical-align:middle;}
.NIE-quickReg table tr.line2{display:table-row;}
.NIE-quickReg table tr.line2 td{padding:0;}
.NIE-quickReg table tr.line2 ul{display:none;}
.NIE-quickReg table tr.tipsBox{display:table-row;}
.NIE-quickReg table tr.tipsBox td{padding:0;}
.NIE-quickReg table tr.tipsBox ul{display:none;}
.NIE-quickReg .username,.NIE-quickReg .password,.NIE-quickReg .captcha,.NIE-quickReg .realname,.NIE-quickReg .idtype,.NIE-quickReg .idno,.NIE-quickReg .phone{height:18px;padding-left:5px;float:left;line-height:18px;font-size:12px;border:1px #7f9db9 solid;font-family:Arial,Helvetica,sans-serif;}
.NIE-quickReg .idtype{float:right;}
.NIE-quickReg .username,.NIE-quickReg .password,.NIE-quickReg .realname,.NIE-quickReg .idno,.NIE-quickReg .phone{width:142px;}
.NIE-quickReg .captcha{width:92px;}
.NIE-quickReg .inp-tips{color:gray;}
.NIE-quickReg .inp-info{display:none;}
.NIE-quickReg input.right{}
.NIE-quickReg input.error{color:#ff0000;border-color:#ff0000;background-color:#ffff99;}
.NIE-quickReg .submit{cursor:pointer;}
.NIE-quickReg .hideItem .loading,.NIE-quickReg label.info i.loading{background:url(loading.gif) no-repeat center;}
.NIE-quickReg .noLoading{background:none;}
.NIE-quickReg .hideItem{display:none;}

.NIE-quickReg label.info i{_background:url(icon.gif) no-repeat;}
.NIE-quickReg label.info>i{background:url(icon.png) no-repeat;}
/*
.NIE-quickReg span.userName-tips i,.NIE-quickReg .recomUserName i,.NIE-quickReg label.info i{_background:url(icon.gif) no-repeat;}
.NIE-quickReg span.userName-tips>i,.NIE-quickReg .recomUserName>i,.NIE-quickReg label.info>i{background:url(icon.png) no-repeat;}
.NIE-quickReg a.close{position:absolute;right:0;top:0;width:12px;height:12px;line-height:12px;font-family:Arial;font-weight:bold;text-decoration:none;color:#fff;text-align:center;display:block;background:#dadaaf;overflow:hidden;}
.NIE-quickReg a.close:hover{background:#b8b883;}
.NIE-quickReg span.userName-tips{position:absolute;z-index:99;width:150px;margin-top:1px;padding:7px 8px 5px 8px;color:#a29452;line-height:18px;background:#fff6d9;border:1px #dadaaf solid;display:none;}
.NIE-quickReg span.userName-tips i{position:absolute;z-index:100;top:-6px;left:20px;width:11px;height:6px;display:block;background-position:0 0;overflow:hidden;}
.NIE-quickReg .recomUserName{position:absolute;z-index:99;width:165px;margin-top:1px;padding:3px;color:#a29452;display:none;background:#fff6d9;border:1px #dadaaf solid;}
.NIE-quickReg .recomUserName i{position:absolute;z-index:100;top:-6px;left:20px;width:11px;height:6px;display:block;background-position:0 0;overflow:hidden;}
.NIE-quickReg .recomUserName a.choose{width:160px;height:20px;padding-left:5px;line-height:20px;font-family:Arial;float:left;color:#000;text-decoration:none;display:block;clear:both;}
.NIE-quickReg .recomUserName a.choose:hover{color:#fff;background-color:#b8b883;}
.NIE-quickReg .recomUserName a.choose input{float:left;margin:1px 0 0 0 /9;margin:3px 2px 0 0;}
*/
.NIE-quickReg .domain{float:left;font-family:simSun;margin-left:1px;font-size:10px;font-size:12px\9;display:inline-block;}
.NIE-quickReg .captcha-wrap{width:100px;height:32px;font-size:12px;float:left;display:inline-block;}
.NIE-quickReg .captcha-wrap img{cursor:pointer;}
.NIE-quickReg #captchaBtn{width:4em;margin:2px 0 0 5px;color:#1e50a2;line-height:14px;float:left;text-decoration:none;cursor:pointer;display:block;}
.NIE-quickReg #captchaBtn:hover{color:#F60;}
/*
.NIE-quickReg label.info{position:relative;height:20px;margin-left:2px;float:left;overflow:hidden;display:none;}
.NIE-quickReg label.info i{width:20px;height:20px;display:block;}
.NIE-quickReg label.info i.right{background-position:0 -24px;}
.NIE-quickReg label.info i.error{background-position:0 -60px;}
*/
.NIE-quickReg label.info{position:relative;width:20px;height:20px;margin-left:5px;float:left;overflow:hidden;display:block;}
.NIE-quickReg label.info i{width:20px;height:20px;display:none;}
.NIE-quickReg label.loading i.loading,.NIE-quickReg label.right i.right,.NIE-quickReg label.error i.error{display:block;}
.NIE-quickReg label.info i.right{background-position:0 -24px;}
.NIE-quickReg label.info i.error{background-position:0 -60px;}

.NIE-quickReg label.agree{cursor:pointer;}
.NIE-quickReg .tips{font-size:12px;text-align:right;}
.NIE-quickReg .noEmail-tips{position:absolute;font-size:12px;}
.NIE-quickReg .noEmail-tips a{color:#c0a075; text-decoration:underline;}
/*建议域名邮箱*/
.NIE-quickReg .suggestDomain{position:absolute;z-index:999;width:149px;background:#FFF;border:1px #999 solid;display:none;}
.NIE-quickReg td>.suggestDomain{width:auto;min-width:149px;}
.NIE-quickReg .suggestDomain,.NIE-quickReg .suggestDomain li{margin:0;padding:0;list-style:none;display:block;}
.NIE-quickReg .suggestDomain li{height:18px;line-height:18px;color:#666;padding:0 5px;font-family:Arial,Helvetica,sans-serif;}
.NIE-quickReg .suggestDomain li.title{}
.NIE-quickReg .suggestDomain li.hover{background:#E6F2FF;color:#000;cursor:pointer;}
/*信息框*/
#NIE-quickReg-msg,#NIE-quickReg-msg-title,#NIE-quickReg-closeBtn,#not163Mail,#NIE-quickReg-msg a.btn,#NIE-quickReg-msg .error,#NIE-quickReg-msg .right{background:url(item.gif);}
#NIE-quickReg-msg{position:absolute;z-index:10001;background-color:#fff;border:1px #fff solid;background-position:bottom;}
#NIE-quickReg-msg *{font-size:12px;color:#000;font-family:simSun,Arial;}
a#NIE-quickReg-closeBtn{position:absolute;right:0;top:0;width:28px;height:28px;line-height:900px;display:inline;background-repeat:no-repeat;background-position:-120px -30px;overflow:hidden;}
a#NIE-quickReg-closeBtn:hover{background-position:-120px -62px;}
#NIE-quickReg-msg-bg{position:absolute;z-index:10000;background:#000;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);}
#NIE-quickReg-msg-title{height:29px;text-indent:12px;line-height:29px;color:#616372;font-weight:bold;}
#NIE-quickReg-msg-con{margin-top:15px;margin-bottom:15px;}
#NIE-quickReg-msg a.btn{width:120px;height:31px;line-height:31px;font-size:14px;font-weight:bold;text-decoration:none;color:#7c7e87;text-align:center;display:inline-block;background-position:0 -29px;overflow:hidden;}
#NIE-quickReg-msg a.btn:hover{color:#336699;background-position:0 -60px;}
#NIE-quickReg-msg .error,#NIE-quickReg-msg .right{margin:15px;padding-left:55px;background-repeat:no-repeat;}
#NIE-quickReg-msg .right{background-position:0 -91px;}
#NIE-quickReg-msg .error{background-position:0 -407px;}
#NIE-quickReg-msg-con .info{padding-top:10px;margin:0 0 10px 0;font-weight:bold;font-size:14px;}
#NIE-quickReg-msg-con .reason{line-height:18px;margin:0 0 5px 0;}
#NIE-quickReg-msg .right{width:130px;margin-left:auto;margin-right:auto;padding:0;}
#NIE-quickReg-msg .right .info{text-indent:50px;margin-bottom:25px;}

/*非网易邮箱*/
#not163Mail{width:340px;margin:0 auto;padding:8px 45px 0 100px;background-position:50px -91px;background-repeat:no-repeat;}
#not163Mail h1,#not163Mail h2,#not163Mail h3,#not163Mail ol,#not163Mail li{margin:0;padding:0;}
#not163Mail h1{font-size:14px;font-weight:bold;}
#not163Mail h2{margin:20px 0;font-size:14px;}
#not163Mail h3{margin:10px 0;font-weight:normal;}
#not163Mail h3 b{font-family:Arial, Helvetica, sans-serif;color:#006699;}
#not163Mail ul.tips,#not163Mail ul.tips li{margin:0;padding:0;list-style:none;}
#not163Mail ul.tips{font-size:12px;line-height:20px;color:#666;}
#not163Mail ul.tips ol li{list-style:decimal;margin-left:20px;}
#not163Mail a{color:#006699;}
#not163Mail a:hover{color:#F63;}